<footer>
  <div class="content">
    <h4>Credits</h4>
    <div><a target="_blank" rel="noopener noreferrer" href="https://www.flaticon.com/free-icons/members" title="members icons">Members icons created by alfanz - Flaticon</a></div>
    <div><a target="_blank" rel="noopener noreferrer" href="https://github.com/Zekumoru/members-only">Check out this website's repository</a></div>
  </div>
</footer>