<!DOCTYPE html>

<html lang="en">
  <%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/nav.ejs") %>
    
    <main>
      <h1>Enter a secret password to join the club!</h1>

      <form class="form" method="post">
        <div class="form-group">
          <label for="password">Secret password</label>
          <input type="password" name="password" id="password" value="<%= locals.password %>" />
          <% if (locals.errors && locals.errors.password) { %>
            <p><%= errors.password.msg %></p>
          <% } %>
        </div>

        <button>Join club</button>
      </form>
    </main>
  </body>
</html>
