:root {
  --background-color: hsl(0, 0%, 90%);
  --primary-color: hsl(0, 0%, 10%);
  --text-color: black;
  --text-color-primary: white;
}

html {
  background-color: var(--background-color);
}

body,
textarea {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 16px;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 16px;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

a {
  color: var(--text-color);
}

button {
  padding: 12px 24px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color-primary);
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

input,
textarea {
  background-color: hsl(0, 0%, 86%);
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 70%);
  padding: 12px;
  font-size: 1.2rem;
}

textarea {
  resize: none;
}

label {
  font-weight: bold;
}

/**
 * Form styles
 */

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form .form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form button {
  font-size: 1.1rem;
  padding: 16px;
  margin-top: 8px;
}

/**
 * Main navbar styles
 */

.main-nav {
  background-color: var(--primary-color);
}

.main-nav ul {
  display: flex;
  flex-direction: column;
}

.main-nav a {
  display: block;
  color: var(--text-color-primary);
  text-decoration: none;
  padding: 14px 28px;
}

.main-nav a:hover {
  background-color: black;
}

/**
 * Message list styles
 */

.message-item:not(:last-of-type) {
  padding-block: 16px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.message-item:first-of-type {
  padding-top: 0;
}

.message-item:last-of-type:not(:only-of-type) {
  padding-top: 16px;
}

.message-item .message-content {
  margin-block: 4px;
  background-color: hsl(0, 0%, 74%);
  padding: 12px;
  border-radius: 4px;
  font-size: 1.2rem;
  white-space: pre-wrap;
}

.message-item .message-author-and-date {
  color: hsl(0, 0%, 20%);
  font-size: 0.95rem;
}

.message-item .message-author {
  font-style: italic;
}

.message-item .message-delete-btn-container {
  margin-top: 8px;
}

/**
 * Footer styles
 */

footer .content {
  background-color: var(--primary-color);
  color: var(--text-color-primary);
  padding: 16px;
}

footer a {
  color: var(--text-color-primary);
}

footer h4 {
  margin-bottom: 4px;
}

@media only screen and (min-width: 640px) {
  /**
   * Main navbar styles
   */

  .main-nav {
    padding-inline: 16px;
  }

  .main-nav ul {
    flex-direction: row;
  }

  .main-nav a {
    padding: 18px 32px;
  }

  main .content,
  footer .content,
  .main-nav ul {
    max-width: 1200px;
    margin: 0 auto;
  }

  footer .content {
    border-radius: 8px 8px 0 0;
  }

  /**
   * Utility classes
   */

  .sm.ml-auto {
    margin-left: auto;
  }
}

/**
 * Utility classes
 */

.mb-16 {
  margin-bottom: 16px;
}